%div File Import

- form_tag({:action=>'select_columns'}, {:multipart => true,:method=>"post"}) do
  %fieldset
    %legend File
    %p
      %label{:for=>"account[id]"} Bank Account
      .entry= collection_select :account, :id, @accounts, :id, :name
    %p
      %label{:for=>"entry[shared_string]"} Shared Between
      .entry= text_field :entry, :shared_between
    %p
      %label{:for=>"csvfile"} File
      .entry= file_field_tag "csvfile"
    %p
      .entry= submit_tag 'Prepare Import'