- form_tag(:action=>"match_columns", :account=>@bank_account, :shared_between=>@shared_between) do
  %div= hidden_field :file, :file, :value=>@file.to_yaml
  %table
    %tr
      - 1.upto(@columns) do |item|
        %th= select(:column, item, ["date", "description", "amount"], { :include_blank => true }, {:style => "width: 100%"})
    - @file.each do |row|
      %tr
        - for cell in row
          %td= cell
    = submit_tag 'Submit these'
